
.layui-row {
		 border-radius: 10px;
}
h3 {
	margin-bottom: 10px;
}

.item-group {
	width: 100px;
	text-align: center;
}

.item-group i {
	font-size: 20px;
}

.item-group-text {
	margin-top: -12px;
	margin-bottom: 25px;
}

.layui-layout-admin .layui-body {
	top: 0px;
	left: 100px;
}

.layui-layout-admin .layui-header, .layui-layout-admin .layui-logo,
	.layui-layout-admin .layui-side {
	width: 100px;
}

.layui-layout-admin .layui-footer {
	left: 100px;
}

.layui-card {
	margin-bottom: 0px;
}

iframe {
	border: 0;
}

.layui-tab-content {
	padding: 15px 10px;
}

.layui-elem-quote {
	margin-bottom: 0px;
}

.layui-card-body {
	padding: 0;
}

.layui-elem-quote {
	border-left: 0;
	padding: 10px;
	background-color: initial;
}

.layui-colla-title {
	background-color: initial;
}

.body-left {
	border-right: 1px solid #ccc;
	height: calc(100vh - 5px);
	overflow-y: auto;
}

.body-right {
	height: calc(100vh - 5px);
	overflow: auto;
}

.add-btn {
	top: 53px;
	right: 15px;
	position: absolute;
}

.add-btn:hover {
	cursor: pointer; /* 设置鼠标光标为手形 */
	background-color: #607d8b54;
}

.menu-icon {
	top: 0px;
	right: 0px;
	position: absolute;
	display: none;
}

.layui-colla-title:hover>.menu-icon {
	display: block;
}

.menu-icon i {
	margin-right: 5px;
}

.tab-icon {
	display: flex; /* 使用Flexbox排布 */
	align-items: center; /* 垂直居中对齐 */
	margin-left: 10px; /* 让图标和tabs之间有一点间隙 */
}

.layui-form-onswitch, .layui-form-switch {
	border-color: #d2d2d2;
	/* background-color: #2f363c; */
}

.POST {
	color: #ed5d11;
	padding: 0px 2px 0px 0px;
}

.DEL {
	color: #c50101;
	padding: 0px 12px 0px 0px;
}

.GET,.PATCH,.TRACE {
	color: #11ab11;
	padding: 0px 11px 0px 0px;
}

.PUT, .OPT,.HEAD,.CONNECT {
	color: #0f85df;
	padding: 0px 11px 0px 0px;
}

.HEAD {
	color: #0f85df;
	padding: 0px 2px 0px 0px;
}

#colla_content, #colla_title, .layui-colla-content {
	padding-right: 0;
}

#tree-container {
	margin-left: 0px;
}

ul {
	list-style-type: none;
	padding-left: 10px;
	cursor: pointer;
}

.children {
	display: none; /* 初始隐藏子节点 */
}

.icon {
	display: inline-block;
	margin-left: -16px;
	font-size: 14px;
}

.down {
	transform: rotate(90deg);
}

.right {
	transform: rotate(0deg);
}

.tree-node li {
	padding: 0px 0px 0px 5px;
	border-left: 1px dashed #98a9af6e;
    margin-left: -3px;
}

.tree-node-title {
	padding: 5px 15px 5px 15px;
	margin: 0.5px;
	white-space: nowrap; /* 不允许换行 */
	overflow: hidden; /* 隐藏超出部分 */
	text-overflow: ellipsis; /* 超出部分显示省略号 */
}

.tree-node-title:hover>.layui-icon-more {
	visibility: visible; /* 悬浮时图标可见 */
	display: block;
}

.tree-node-title .layui-icon-more {
	visibility: hidden; /* 默认隐藏 */
	float: right;
	position: absolute;
	display: none;
	right: 5px;
	margin-top: -22px;
}

#apiList > li:hover,
.active, .tree-node-title:hover, 
.layui-colla-title:hover, 
.item-group .layui-this,
.layui-menu .layui-menu-item-group>.layui-menu-body-title:hover
{
	background-color: #607d8b54 !important; /* 活动节点样式 */
}
ul.layui-dropdown-menu i:hover,a:hover,i.layui-icon-template-1:hover{
	cursor: pointer; /* 设置鼠标光标为手形 */
}
 .layui-menu-body-title{
	padding-left: 30px;
	white-space: nowrap; /* 不允许换行 */
	overflow: hidden; /* 隐藏超出部分 */
	text-overflow: ellipsis; /* 超出部分显示省略号 */
	max-width: 400px;
	min-width:130px;
}

.layui-menu-body-title>.layui-icon {
    left: 0px;
}
.layui-menu-body-title>.layui-icon-export {
    left: 15px;
} 
.layui-menu .layui-menu-item-group>.layui-menu-body-title {
	color:var(--lay-color-text-3);
}
.td-title{
	padding-left:30px;
	color:#817a7ad4;
}
.layui-table-tool-temp {
    padding-right: 0px;
}
.table-select-btn{
	float:right;
}
.table-select-btn a{
	padding:8px;
}
.layui-btn-radius {
    border-radius: 8px;
}
ul.menu-tab>span{
	display:none;
}
.layui-tab-content {
    padding: 8px 10px 0px 10px;
}
.layui-btn+.layui-btn {
    margin-left: 0px;
}
.layui-input, .layui-select, .layui-textarea {
    height: 32px;
}
#copy_value{
	left: -200px;
	position: fixed;
}
.layui-icon-log::before{
	color: #a605e5!important;
    padding-right: 5px!important;
}

/**detail.html css start**/
.resizable-row {  
  display: flex;  
  flex-direction: column;  
  height: auto;  
  min-height: 50px;  
  /* resize: vertical;   */
  overflow: auto;  
  height: 440px;
}  

.bottom{
	position: absolute;
	bottom:5px;
}

.line-height{
	line-height: 25px;
	height:25px;
}
.title-input{
	height: 23px;
	border: none;
	border-bottom: 1px solid var(--lay-color-bg-2);
	background-color: var(--lay-color-bg-2); 
	min-width:100px;
}
.response-tab {
	padding: 10px 20px;
	display:none;
}
.response-this{
	color:var(--lay-color-primary);
    border-bottom: 2px solid #409EFF!important;
}
.response-tab-content {
	display: none;
	min-height:300px;
}
.respones-tab-show{
	display: block;
}
p{
	padding:3px;
}
.layui-form-radio>.lay-skin-tag,
  .layui-form-checkbox>.lay-skin-tag {
    font-size: 13px;
    border-radius: 100px;
  }
  .layui-form-checked>.lay-skin-tag,
  .layui-form-radioed>.lay-skin-tag {
    color: #fff !important;
    background-color: #16b777 !important;
  }
 .body-none{
  	width:100%;
  	text-align: center;
    padding-top: 20px;
    color: #898383;
 }
 .req-msg-header{
 	width:200px;
 	border:1px solid #9e9292;
 }
 .request-url-span{
 	color:red;
 	display:none;
 	position: absolute;
 	z-index: 9999;
 	margin-top: -5px;
 	margin-left: 10px;
 }
   .doc-review{
   		padding:10px;
   	}
   	h5{
   		margin:10px 0px;
   		font-weight: bold;
   	}
   	h5 .layui-badge-dot{
   		margin-right:10px;
   	}
   	.doc-review ul {
	    display: block;
	    list-style-type: disc;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    padding-inline-start: 40px;
	    unicode-bidi: isolate;
	}
	.code-demo{
		max-height:350px;
		overflow: auto;
	}
/**detail.html css end**/
